

 @media(max-width:768px) {
    .kcw .kcw__kyruus-custom-wrapper .kcw__top-bar.kcw__pr-container {
        display: none;
    }
} /* Fonts */
@import url("https://p.typekit.net/p.css?s=1&k=gzc0ahq&ht=tk&f=30229.30230.30233&a=8691076&app=typekit&e=css");

@font-face {
    font-family: "multi-display";
    src: url("https://use.typekit.net/af/511277/00000000000000003b9b01eb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/511277/00000000000000003b9b01eb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/511277/00000000000000003b9b01eb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "multi-display";
    src: url("https://use.typekit.net/af/06bf8c/00000000000000003b9b01ec/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/06bf8c/00000000000000003b9b01ec/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/06bf8c/00000000000000003b9b01ec/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "multi-display";
    src: url("https://use.typekit.net/af/f8d078/00000000000000003b9b01f0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/f8d078/00000000000000003b9b01f0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/f8d078/00000000000000003b9b01f0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

.tk-multi-display {
    font-family: "multi-display", sans-serif;
}

/* 
Reset Styles 
=============== */

.kcw {
    box-sizing: unset;
}

.kcw section,
.kcw div,
.kcw dl,
.kcw dt,
.kcw dd,
.kcw ul,
.kcw ol,
.kcw li,
.kcw h1,
.kcw h2,
.kcw h3,
.kcw h4,
.kcw h5,
.kcw h6,
.kcw pre,
.kcw form,
.kcw fieldset,
.kcw input,
.kcw textarea,
.kcw label,
.kcw p,
.kcw blockquote,
.kcw th,
.kcw td,
.kcw a {
    box-sizing: unset;
    margin: 0;
    padding: 0;
}

.kcw table {
    border-collapse: collapse;
    border-spacing: 0;
}

.kcw fieldset,
.kcw img {
    border: 0;
}

.kcw address,
.kcw caption,
.kcw cite,
.kcw code,
.kcw dfn,
.kcw em,
.kcw strong,
.kcw th,
.kcw var {
    /* font-style: normal; */
    /* font-weight: normal; */
}

.kcw ol,
.kcw ul {
    list-style: none;
}

.kcw caption,
.kcw th {
    text-align: left;
}

.kcw h1,
.kcw h2,
.kcw h3,
.kcw h4,
.kcw h5,
.kcw h6 {
    font-size: 100%;
    font-weight: bold;
}

.kcw q:before,
.kcw q:after {
    content: '';
}

.kcw abbr,
.kcw acronym {
    border: 0;
}

/* Reset Styles End
 =============== */


/* --- GENERAL --- */
@import url("https://use.typekit.net/aom8far.css");

body .kcw {
    font-family: museo-sans, Verdana, Geneva, Tahoma, sans-serif;
}

/* --- HEADER --- */
.kcw .kcw__kyruus-custom-wrapper header {
    border-bottom: 1px solid #f5f5f5;
    box-shadow: 0 0 10px -10px #000;
}

.kcw .kcw__kyruus-custom-wrapper .kcw__pr-logo {
    padding: 15px 20px 15px 0;
}

.kcw .kcw__kyruus-custom-wrapper .kcw__align-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction: row; */
}

.kcw .kcw__kyruus-custom-wrapper .kcw__space-btwn {
    /* -webkit-box-pack: justify; */
    -ms-flex-pack: justify;
    /* justify-content: space-between; */
    /* align-items: stretch; */
    -ms-align-content: stretch;
    /* align-content: stretch; */
    justify-content: space-between;
}

/* Header - Top Navigation */
.kcw .kcw__kyruus-custom-wrapper .kcw__top-bar.kcw__pr-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.kcw .kcw__kyruus-custom-wrapper .top-bar-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    content: "";
    box-sizing: content-box;
    background: #00226b none repeat center center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.kcw .kcw__kyruus-custom-wrapper .right-widgets.mini-widgets {
    display: flex;
    align-items: center;
    z-index: 1;
    font: 200 13px / 19px "Montserrat", Helvetica, Arial, Verdana, sans-serif;
}

.kcw .kcw__kyruus-custom-wrapper .right-widgets.mini-widgets a:hover {
    text-decoration: none;
    opacity: .7;
}

/* Header - Main Navigation */
.kcw .kcw__kyruus-custom-wrapper .kcw__pr-mainnav .kcw__pr-nav {
    padding-left: 3em;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav>li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav>li>a, .kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav>li>label {
    padding: 14px 18px 14px;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
    text-indent: 0;
    font: normal 300 18px / 28px "Montserrat", Helvetica, Arial, Verdana, sans-serif;
}

.kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav a:hover, .kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav label:hover {
    color: #00b4e3;
}


.kcw .kcw__kyruus-custom-wrapper li.kcw__has-children>label:after {
    content: ">";
    speak: none;
    font-family: monospace;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: rotate(90deg) translate(-100%);
    transform-origin: center;
    right: 0px;
    color: #6d6e70;
}

@media(min-width:768px) {
 .kcw .kcw__kyruus-custom-wrapper li.kcw__has-children {
     position: relative;
 }

 .kcw .kcw__kyruus-custom-wrapper li.kcw__has-children>ul {
     display: none;
     position: absolute;
     top: 100%;
     list-style: none;
     z-index: 99;
     min-width: 220px;
     margin-top: -10px;
     margin-left: -2px;
     font-size: 14px;
     box-shadow: 0 0 4px rgb(0 0 0 / 20%);
 }
 .kcw .kcw__kyruus-custom-wrapper li.kcw__has-children:hover>ul {
     display: block;
     background-color: #fff;
     padding: 10px;
 }

 .kcw .kcw__kyruus-custom-wrapper li.kcw__has-children>ul>li {
     white-space: nowrap;
 }
}

/* Header - Main Navigation - Sub Menu */
 .kcw .kcw__kyruus-custom-wrapper li.kcw__has-children>ul>li a {
     font-size: 14px;
     font-weight: 300;
     position: relative;
     color: #333;
     padding: 14px 18px 14px;
 }

/* --- FOOTER --- */
.kcw .kcw__kyruus-custom-wrapper .kcw__pr-footer {
    background-color: #e1e1e2;
    padding-top: 70px;
}


.kcw .kcw__kyruus-custom-wrapper .footer {
    font-family: 'multi-display';
}
.kcw .kcw__kyruus-custom-wrapper .footer .wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}
@media(max-width:768px) {
    .kcw .kcw__kyruus-custom-wrapper .footer .wrap {
        flex-direction:column;
    }
}
.kcw .kcw__kyruus-custom-wrapper .footer>.wrap>section {
    flex: 1;
    margin-bottom: 20px;
}

.kcw .kcw__kyruus-custom-wrapper .kcw__pr-footer ul {
    list-style-type: none;
}

.kcw .kcw__kyruus-custom-wrapper .kcw__pr-footer li>a {
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0;
    position: relative;
    color: #333;
    text-decoration: none;
}

.kcw .kcw__kyruus-custom-wrapper .kcw__pr-footer li>a:hover {
    color: #00226b;
}
.kcw .kcw__kyruus-custom-wrapper .kcw__pr-footer h3 {
    font-size: 17px;
    font-weight: 700;
    border-bottom: 2px solid #830065;
    padding-bottom: 15px;
    margin-bottom: 15px;
}


.kcw .kcw__kyruus-custom-wrapper .kcw__pr-footer [class*=col-]>ul {
    margin-bottom: 60px;
}

.kcw .kcw__kyruus-custom-wrapper .textwidget>* {
    font-size: 16px !important;
}

.kcw .kcw__kyruus-custom-wrapper .textwidget table td {
    text-align: left;
    font-size: 16px;
}

.footer .widget-title {
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
}

/* --- FOOTER - Bottom Copyright Bar --- */
.kcw .kcw__kyruus-custom-wrapper .bottom-bar {
    padding: 20px 0 !important;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1;
}

.kcw .kcw__kyruus-custom-wrapper .bottom-bar:before {
    position: absolute;
    content: "";
    background: #00226b;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.kcw .kcw__kyruus-custom-wrapper .bottom-bar a {
    color: #fff;
}
.kcw .kcw__kyruus-custom-wrapper .bottom-bar * {
    font-size: 16px !important;
}

.kcw .kcw__kyruus-custom-wrapper .bottom-bar>div {
    z-index: 1;
    color: #fff
}




/* --- Mobile Menu --- */
.kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger {
    display: none;
}

.kcw .kcw__kyruus-custom-wrapper label.kcw__menu {
    display: none;
}

.kcw .kcw__kyruus-custom-wrapper input#kcw__subnavTrigger {
    display: none;
 }
 
@media (max-width: 768px) {
    .kcw .kcw__kyruus-custom-wrapper .kcw__pr-logo img {
        padding-left: 8px;
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__pr-privacy {
        padding: 10px 0;
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__pr-logo {
        padding: 0;
        flex: 1;
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__pr-topnav {
        display: none;
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__pr-mobile-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 10px 15px;
        position: relative;
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__navbar-toggle {
        position: relative;
        float: right;
        cursor: pointer;
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__navbar-toggle:hover .kcw__icon-bar {
        background: #00b4e3;
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__navbar-toggle .kcw__icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: #333333;
        width: 22px;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__navbar-toggle .kcw__icon-bar+.kcw__icon-bar {
        margin-top: 4px;
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__icon-bar:nth-child(2) {
        -webkit-transform-origin: 10% 10%;
        transform-origin: 10% 10%;
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__icon-bar:nth-child(3) {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__icon-bar:nth-child(4) {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    .kcw .kcw__kyruus-custom-wrapper label[for=nav-trigger] {
        cursor: pointer;
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__nav-trigger {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

    .kcw .kcw__kyruus-custom-wrapper ul.kcw__pr-nav {
        background-color: #ffffff;
        width: 330px;
        right: 0;
        -webkit-transform: translateX(110%);
        transform: translateX(110%);
        position: fixed;
        z-index: 99;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        -ms-flex-align: center;
        opacity: 0;
        position: fixed;
        top: 0;
        height: 100%;
        min-height: 100%;
        max-width: 100%;
        z-index: 9602;
        box-sizing: border-box;
        justify-content: normal;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: normal;
        justify-content: normal !important;
        width: calc(330px - 13px);
        padding: 45px 15px 30px 30px !important;
        box-sizing: border-box;
    }

    .kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger:checked~#kcw__pr-nav {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    .kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger:checked~label[for=navTrigger] {
        position: fixed;
        z-index: 100;
        right: 0;
    }

    .kcw .kcw__kyruus-custom-wrapper ul.kcw__pr-nav {
        padding: 0 20px;
    }

    .kcw .kcw__kyruus-custom-wrapper ul.kcw__pr-nav li {
        border-bottom: 1px solid #fff;
        width: 100%;
    }

    .kcw .kcw__kyruus-custom-wrapper ul.kcw__pr-nav li:last-child {
        border-bottom: 0;
    }

    .kcw .kcw__kyruus-custom-wrapper ul.kcw__pr-nav li>a,.kcw .kcw__kyruus-custom-wrapper ul.kcw__pr-nav li>label {
        color: #333;
        border-bottom: 1px solid rgba(153, 153, 153, 0.15);
        position: relative;
        cursor: pointer;
    }

    .kcw .kcw__kyruus-custom-wrapper ul.kcw__pr-nav a:hover,
    .kcw .kcw__kyruus-custom-wrapper ul.kcw__pr-nav a:focus {
        color: #00b4e3;
    }

    .kcw .kcw__kyruus-custom-wrapper label.kcw__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 999999;
    }

    .kcw .kcw__kyruus-custom-wrapper li.kcw__has-children>label:after {
        content: "+";
        font-size: 28px;
        font-family: ui-monospace;
        font-weight: 700;
        color: #6ecdb3;
    }

    .kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger:checked~label[for=navTrigger] .kcw__navbar-toggle .kcw__icon-bar {
        background: #fff;
    }

    .kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger:checked~label[for=navTrigger] .kcw__icon-bar:nth-child(2) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 10% 10%;
        transform-origin: 10% 10%;
    }

    .kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger:checked~label[for=navTrigger] .kcw__icon-bar:nth-child(3) {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    .kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger:checked~label[for=navTrigger] .kcw__icon-bar:nth-child(4) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 10% 90%;
        transform-origin: 10% 90%;
    }

    .kcw .kcw__kyruus-custom-wrapper input#kcw__subnavTrigger ~ ul {
        display: none;
     }
.kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger:checked~label .kcw__pr-mobile-menu:before {
   content: "X";
   font-family: revert;
   font-size: 20px;
   color: #fff;
   background: #00b4e3;
   height: 30px;
   width: 30px;
   padding: 0;
   display: flex;
   text-indent: 0;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
.kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger:checked~label .kcw__navbar-toggle {
     display: none;
 }
 
 .kcw .kcw__kyruus-custom-wrapper input#kcw__subnavTrigger:checked~ul {
     display: block;
     position: relative;
     box-shadow: none;
     margin: 0;
     top: auto;
     text-indent: 15px;
 }
 

.kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger:checked~.shade {
    position: fixed;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    right: 0;
 }
     .kcw .kcw__kyruus-custom-wrapper .kcw__top-bar.kcw__pr-container {
         display: none;
     }
 
}


/* -- CONTAINER + Responsive styles --*/
.kcw .kcw__kyruus-custom-wrapper .kcw__pr-container {
    margin: auto;
    max-width: 100%;
}

@media (min-width: 1200px) {
    .kcw .kcw__kyruus-custom-wrapper .kcw__pr-container {
        /* max-width: 1400px; */
        padding: 0 40px;
        max-width: calc(1250px - 50px - 50px);
    }
}

@media (max-width: 1400px) and (min-width: 1200px) {
    .kcw .kcw__kyruus-custom-wrapper .kcw__pr-container {
        max-width: 1170px;
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav a,.kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav label {
        font: normal 300 18px / 28px "Montserrat", Helvetica, Arial, Verdana, sans-serif;
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav>li>a,.kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav>li>label {
        padding: 14px;
    }
}

@media (max-width: 1200px) {
    .kcw .kcw__kyruus-custom-wrapper .kcw__pr-logo img {
        max-width: 155px;
        padding: 15px;
    }
}

@media (max-width: 1200px) and (min-width: 769px) {
    .kcw .kcw__kyruus-custom-wrapper .kcw__pr-logo img {
        max-width: 195px;
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav a {
        font-size: 14px;
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav>li>a,.kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav>li>label {
        padding: 14px;
        font-size: 14px;
    }

    .kcw .kcw__kyruus-custom-wrapper .kcw__pr-mainnav .kcw__pr-nav {
        -ms-flex-pack: unset;
    }
}

@media (max-width: 768px) {
    .kcw .kcw__kyruus-custom-wrapper .kcw__pr-topnav ul>li a {
        padding: 10px 16px 10px 0;
        font-size: 13px;
    }
}

@media (max-width: 1200px) and (min-width: 769px) {
    .kcw .kcw__kyruus-custom-wrapper .kcw__align-center {
        -ms-flex-direction: column;
        flex-direction: row;
    }
}