 /* Fonts */
 @import url("https://p.typekit.net/p.css?s=1&k=gzc0ahq&ht=tk&f=30229.30230.30233&a=8691076&app=typekit&e=css");

 @font-face {
 font-family:"multi-display";
 src:url("https://use.typekit.net/af/511277/00000000000000003b9b01eb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/511277/00000000000000003b9b01eb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/511277/00000000000000003b9b01eb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
 font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
 }
 
 @font-face {
 font-family:"multi-display";
 src:url("https://use.typekit.net/af/06bf8c/00000000000000003b9b01ec/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/06bf8c/00000000000000003b9b01ec/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/06bf8c/00000000000000003b9b01ec/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
 font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
 }
 
 @font-face {
 font-family:"multi-display";
 src:url("https://use.typekit.net/af/f8d078/00000000000000003b9b01f0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/f8d078/00000000000000003b9b01f0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/f8d078/00000000000000003b9b01f0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
 font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
 }
 
 .tk-multi-display { font-family: "multi-display",sans-serif; }

/* 
Reset Styles 
=============== */

.kcw {
    box-sizing: unset;
  }
  
  .kcw section,
  .kcw div,
  .kcw dl,
  .kcw dt,
  .kcw dd,
  .kcw ul,
  .kcw ol,
  .kcw li,
  .kcw h1,
  .kcw h2,
  .kcw h3,
  .kcw h4,
  .kcw h5,
  .kcw h6,
  .kcw pre,
  .kcw form,
  .kcw fieldset,
  .kcw input,
  .kcw textarea,
  .kcw label,
  .kcw p,
  .kcw blockquote,
  .kcw th,
  .kcw td,
  .kcw a {
    box-sizing: unset;
    margin: 0;
    padding: 0;
  }
  
  .kcw table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .kcw fieldset,
  .kcw img {
    border: 0;
  }
  
  .kcw address,
  .kcw caption,
  .kcw cite,
  .kcw code,
  .kcw dfn,
  .kcw em,
  .kcw strong,
  .kcw th,
  .kcw var {
    font-style: normal;
    font-weight: normal;
  }
  
  .kcw ol,
  .kcw ul {
    list-style: none;
  }
  
  .kcw caption,
  .kcw th {
    text-align: left;
  }
  
  .kcw h1,
  .kcw h2,
  .kcw h3,
  .kcw h4,
  .kcw h5,
  .kcw h6 {
    font-size: 100%;
    font-weight: bold;
  }
  
  .kcw q:before,
  .kcw q:after {
    content: '';
  }
  
  .kcw abbr,
  .kcw acronym {
    border: 0;
  }
  
  /* Reset Styles End
  =============== */
  
  
  /* --- GENERAL --- */
  @import url("https://use.typekit.net/aom8far.css");
  body .kcw  {
    font-family: museo-sans, Verdana, Geneva, Tahoma, sans-serif;
  }
  
    /* --- HEADER --- */
   .kcw .kcw__kyruus-custom-wrapper header {
    border-bottom: 1px solid #f5f5f5;
    box-shadow: 0 0 10px -10px #000;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-logo {
    padding: 10px 20px 5px 0;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__align-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__space-btwn {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
    /* Header - Top Navigation */
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-topnav {
    width: 100%;
    background: -webkit-linear-gradient(left, #ffd301 0%, #f4702a 21%, #ee254a 40%, #ed2870 60%, #c52378 80%, #861766 100%);
    background: linear-gradient(90deg, #ffd301 0%, #f4702a 21%, #ee254a 40%, #ed2870 60%, #c52378 80%, #861766 100%);
    font-family: museo-sans, sans-serif;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-topnav ul {
    float: right;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-topnav ul > li {
    float: left;
    list-style-type: none;
    display: inline-block;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-topnav ul > li a {
    padding: 18px 16px 18px 0;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-topnav ul > li a:hover {
    text-decoration: underline;
  }
  
    /* Header - Main Navigation */
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-mainnav .kcw__pr-nav {
    float: left;
    list-style-type: none;
    color: #333;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.7;
    font-size: 16px;
    font-family: museo-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav > li > a {
    padding: 14px 18px 14px;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav a {
    transition: background 300ms, color 300ms, border-color 300ms;
    -moz-transition: background 300ms, color 300ms, border-color 300ms;
    -o-transition: background 300ms, color 300ms, border-color 300ms;
    -webkit-transition: background 300ms, color 300ms, border-color 300ms;
    text-decoration: none;
    font-size: 16px;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav a:hover {
    color: #ed1849;
  }
   .kcw .kcw__kyruus-custom-wrapper li.kcw__has-children {
    position: relative;
  }
   .kcw .kcw__kyruus-custom-wrapper li.kcw__has-children > ul {
    display: none;
    position: absolute;
    top: 100%;
    list-style: none;
    z-index: 99;
    min-width: 220px;
    margin-top: -10px;
    margin-left: -2px;
    font-size: 14px;
  }
   .kcw .kcw__kyruus-custom-wrapper li.kcw__has-children:hover > ul {
    display: block;
  }
   .kcw .kcw__kyruus-custom-wrapper li.kcw__has-children > ul > li {
    padding: 1px 11px;
    background-color: #f5f5f5;
    white-space: nowrap;
  }
   .kcw .kcw__kyruus-custom-wrapper li.kcw__has-children > ul > li:first-child {
    padding-top: 12px;
  }
   .kcw .kcw__kyruus-custom-wrapper li.kcw__has-children > ul > li:last-child {
    padding-bottom: 12px;
  }
   .kcw .kcw__kyruus-custom-wrapper li.kcw__has-children > ul > li a {
    font-size: 14px;
    font-weight: 300;
    display: block;
    padding: 6px 30px 6px 12px;
    position: relative;
    color: #333;
  }
  
    /* --- FOOTER --- */
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-footer {
    background-color: #e1e1e2;
    padding-top: 70px;
    padding-bottom: 50px;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-footer ul {
    list-style-type: none;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-footer li > a {
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0;
    position: relative;
    color: #333;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-footer h3 {
    font-size: 17px;
    font-weight: 700;
    border-bottom: 2px solid #830065;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-footer li > a {
    text-decoration: none;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-footer li > a:hover {
    color: #830065;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-footer [class*=col-] > ul {
    margin-bottom: 60px;
  }
  
    /* --- FOOTER - Privacy --- */
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-privacy {
    background: -webkit-linear-gradient(left, #ffd301 0%, #f4702a 21%, #ee254a 40%, #ed2870 60%, #c52378 80%, #861766 100%);
    background: linear-gradient(90deg, #ffd301 0%, #f4702a 21%, #ee254a 40%, #ed2870 60%, #c52378 80%, #861766 100%);
    padding: 33px 0;
    line-height: 1.7;
    color: #fff;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-privacy a {
    color: #fff;
    text-decoration: none;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-privacy a:hover {
    color: #fff;
    text-decoration: underline;
  }
  
    /* --- FOOTER - Social --- */
   .kcw .kcw__kyruus-custom-wrapper .kcw__footer-social {
    margin: 1em 0;
    text-align: left;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__footer-social p {
    clear: both;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__footer-social > a {
    margin: 0 5px;
    display: inline-block;
    width: 35px;
    height: 35px;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__footer-social > a:first-child {
    margin-left: 0;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__footer-social > a:hover {
    text-decoration: none !important;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__footer-social .kcw__fb {
    background: url(https://www.palmettohealth.org/EmergeWebsite/media/Emerge_EmergeWebsite/Projects/NewCo/Social%20Icons/social_facebook.svg) no-repeat 0 0 scroll transparent;
    background-size: cover;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__footer-social .kcw__tw {
    background: url(https://www.palmettohealth.org/EmergeWebsite/media/Emerge_EmergeWebsite/Projects/NewCo/Social%20Icons/social_twitter.svg) no-repeat 0 0 scroll transparent;
    background-size: cover;
    margin: 0 2px;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__footer-social .kcw__yt {
    background: url(https://www.palmettohealth.org/EmergeWebsite/media/Emerge_EmergeWebsite/Projects/NewCo/Social%20Icons/social_youtube.svg) no-repeat 0 0 scroll transparent;
    background-size: cover;
  }
   .kcw .kcw__kyruus-custom-wrapper .kcw__footer-social .kcw__in {
    background: url(https://www.palmettohealth.org/EmergeWebsite/media/Emerge_EmergeWebsite/Projects/NewCo/Social%20Icons/Social_instagram.png) no-repeat 0px 0px/cover;
    background-size: cover;
  }
  
  
    /* --- Mobile Menu --- */
   .kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger {
      display: none;
    }
     .kcw .kcw__kyruus-custom-wrapper label.kcw__menu {
      display: none;
    }
  @media (max-width: 768px) {
     .kcw .kcw__kyruus-custom-wrapper .kcw__pr-logo img {
      padding-left: 8px;
    }
     .kcw .kcw__kyruus-custom-wrapper .kcw__pr-privacy {
      padding: 10px 0;
    }
     .kcw .kcw__kyruus-custom-wrapper .kcw__pr-logo {
      padding: 0;
    }
     .kcw .kcw__kyruus-custom-wrapper .kcw__pr-topnav {
      display: none;
    }
     .kcw .kcw__kyruus-custom-wrapper .kcw__pr-mobile-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 10px 15px;
    }
     .kcw .kcw__kyruus-custom-wrapper li.kcw__has-children:hover > ul {
      display: none;
    }
     .kcw .kcw__kyruus-custom-wrapper .kcw__navbar-toggle {
      position: relative;
      float: right;
    }
     .kcw .kcw__kyruus-custom-wrapper .kcw__navbar-toggle .kcw__icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background: -webkit-gradient(linear, left top, right top, from(#ffd301), color-stop(21%, #f4702a), color-stop(40%, #ee254a), color-stop(60%, #ed2870), color-stop(80%, #c52378), to(#861766));
      background: -webkit-linear-gradient(left, #ffd301 0%, #f4702a 21%, #ee254a 40%, #ed2870 60%, #c52378 80%, #861766 100%);
      background: linear-gradient(90deg, #ffd301 0%, #f4702a 21%, #ee254a 40%, #ed2870 60%, #c52378 80%, #861766 100%);
      width: 22px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }
     .kcw .kcw__kyruus-custom-wrapper .kcw__navbar-toggle .kcw__icon-bar + .kcw__icon-bar {
      margin-top: 4px;
    }
     .kcw .kcw__kyruus-custom-wrapper .kcw__icon-bar:nth-child(2) {
      -webkit-transform-origin: 10% 10%;
      transform-origin: 10% 10%;
    }
     .kcw .kcw__kyruus-custom-wrapper .kcw__icon-bar:nth-child(3) {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
     .kcw .kcw__kyruus-custom-wrapper .kcw__icon-bar:nth-child(4) {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
     .kcw .kcw__kyruus-custom-wrapper label[for=nav-trigger] {
      cursor: pointer;
    }
     .kcw .kcw__kyruus-custom-wrapper .kcw__nav-trigger {
      position: absolute;
      clip: rect(0, 0, 0, 0);
    }
     .kcw .kcw__kyruus-custom-wrapper ul.kcw__pr-nav {
      -webkit-transform: translateX(110%);
      transform: translateX(110%);
      position: fixed;
      left: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 99;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #830065;
      background-color: rgba(131, 0, 101, 0.95);
      left: 0;
      -webkit-transition: 400ms opacity;
      transition: 400ms opacity;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
     .kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger:checked ~ #kcw__pr-nav {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
     .kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger:checked ~ label[for=navTrigger] {
      position: fixed;
      z-index: 100;
      right: 0;
    }
     .kcw .kcw__kyruus-custom-wrapper ul.kcw__pr-nav {
      padding: 0 20px;
    }
     .kcw .kcw__kyruus-custom-wrapper ul.kcw__pr-nav li {
      border-bottom: 1px solid #fff;
      width: 100%;
    }
     .kcw .kcw__kyruus-custom-wrapper ul.kcw__pr-nav li:last-child {
      border-bottom: 0;
    }
     .kcw .kcw__kyruus-custom-wrapper ul.kcw__pr-nav li > a {
      color: #fff;
      font-size: 20px;
      text-align: center;
    }
     .kcw .kcw__kyruus-custom-wrapper ul.kcw__pr-nav a:hover,
   .kcw .kcw__kyruus-custom-wrapper ul.kcw__pr-nav a:focus {
      color: #fff;
    }
     .kcw .kcw__kyruus-custom-wrapper label.kcw__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
     .kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger:checked ~ label[for=navTrigger] .kcw__navbar-toggle .kcw__icon-bar {
      background: #fff;
    }
     .kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger:checked ~ label[for=navTrigger] .kcw__icon-bar:nth-child(2) {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 10% 10%;
      transform-origin: 10% 10%;
    }
     .kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger:checked ~ label[for=navTrigger] .kcw__icon-bar:nth-child(3) {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
     .kcw .kcw__kyruus-custom-wrapper #kcw__navTrigger:checked ~ label[for=navTrigger] .kcw__icon-bar:nth-child(4) {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 10% 90%;
      transform-origin: 10% 90%;
    }
  }
  
  /* -- CONTAINER + Responsive styles --*/
   .kcw .kcw__kyruus-custom-wrapper .kcw__pr-container {
    margin: auto;
    max-width: 100%;
  }
  @media (min-width: 1200px) {
     .kcw .kcw__kyruus-custom-wrapper .kcw__pr-container {
      width: 1400px;
      padding: 0 40px;
    }
  }
  @media (max-width: 1400px) and (min-width: 1200px) {
     .kcw .kcw__kyruus-custom-wrapper .kcw__pr-container {
      width: 1170px;
    }
     .kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav a {
      font-size: 14px;
    }
     .kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav > li > a {
      padding: 14px;
    }
  }
  @media (max-width: 1200px) {
     .kcw .kcw__kyruus-custom-wrapper .kcw__pr-logo img {
      max-width: 195px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
     .kcw .kcw__kyruus-custom-wrapper .kcw__pr-logo img {
      max-width: 195px;
    }
     .kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav a {
      font-size: 14px;
    }
     .kcw .kcw__kyruus-custom-wrapper .kcw__pr-nav > li > a {
      padding: 14px;
    }
     .kcw .kcw__kyruus-custom-wrapper .kcw__pr-mainnav .kcw__pr-nav {
      -webkit-box-pack: unset;
      -ms-flex-pack: unset;
      justify-content: unset;
    }
  }
  @media (max-width: 768px) {
     .kcw .kcw__kyruus-custom-wrapper .kcw__pr-topnav ul > li a {
      padding: 10px 16px 10px 0;
      font-size: 13px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
     .kcw .kcw__kyruus-custom-wrapper .kcw__align-center {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
  